<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="TruckIds" 
           value="daf.xf|daf.xf_euro6|iveco.hiway|iveco.stralis|man.tgx|mercedes.actros|mercedes.actros2014|renault.magnum|renault.premium|scania.r|scania.streamline|volvo.fh16|volvo.fh16_2012" />
      <add key="FlagNames"
           value="cle" />
      <add key="SaveLocation" value="C:\SCSFlagExport\" />
    </appSettings>
</configuration>