<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <appSettings>
      <!-- Add any truck IDs (aka folder names) that are added as mods. They will be automatically added to the list when the program first launches. -->
      <add key="TruckIds" value=""/>
    </appSettings>
</configuration>
